<footer>
    <div class="text-center">
        Copyright &copy; 2016
        <b><a href="http://alfacode.me" class="text-black"> Alfacode.me</a></b>
        <br> All rights reserved <br><br>
    </div>
</footer>