<section class="content-header">
    <h1>
        {{title}}
        <em><small>{{subtitle}}</small></em>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/backend"><i class="mdi mdi-view-dashboard" style="top: 1.4px;position: relative;"></i> Beranda</a></li>
        <li class="active">{{title}}</li>
    </ol>
</section>