<header class="main-header" data-pg-collapsed>
    <!-- Logo -->
    <a href="/backend" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>KA</b>O</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>KART</b>ON</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"><span class="sr-only">Toggle navigation</span></a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/src/backend/img/profile/2a34e5ff-e070-4390-832d-a23e7083054a.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{alfacode.fullname}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="/src/backend/img/profile/2a34e5ff-e070-4390-832d-a23e7083054a.jpg" class="img-circle" alt="User Image">
                            <p>
                                {{alfacode.fullname}}
                                <small><strong>{{alfacode.username}}</strong></small>
                                <small>{{alfacode.name}}</small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <button id="logout-top" class="btn btn-default btn-block btn-flat" data-loading-text="<i class='fa fa-spinner fa-spin'></i>">Keluar</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<script>
    $(document).ready(function() {
        $('#logout-top').click(function() {
            $('#logout-top').button('loading');
            $.post("/auth/logout", function(data) {
                if (data.status == 1) {
                    swal({
                        type: 'success',
                        title: 'Berhasil keluar !',
                        text: 'Klik "Lanjutkan !" untuk memuat halaman..',
                        confirmButtonText: 'Lanjutkan !',
                        allowEscapeKey: false,
                        allowOutsideClick: false
                    }).then(function() {
                        window.location = "/auth/login"
                    })
                }
            })
        })
    })
</script>